# Set the default ros output to warning and higher
log4j.logger.ros=INFO
# Override my package to output everything
log4j.logger.ros.smpl.heuristic.bfs=INFO
log4j.logger.ros.smpl.heuristic.bfs_fullbody=INFO
log4j.logger.ros.smpl.heuristic.euclid_dist=INFO
log4j.logger.ros.smpl.heuristic.euclid_diff=INFO
log4j.logger.ros.smpl.heuristic.bfs_fullbody=INFO


log4j.logger.ros.smpl.graph=INFO
log4j.logger.ros.smpl.graph.expansions=INFO
log4j.logger.ros.smpl.graph.successors=INFO

# Collision checker
log4j.logger.ros.sbpl_collision_checking=DEBUG
log4j.logger.ros.sbpl_collision_checking.robot_model=DEBUG
log4j.logger.ros.sbpl_collision_checking.world=DEBUG
log4j.logger.ros.sbpl_collision_checking.cspace=DEBUG
